﻿@model Dominio.Extrato
<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb" style="padding: 0 0 0 0; line-height: 80px;">
            <li>
                <p>
                    <a href="#" id="btnPrevious" style="font-size: 20px;" class="btn yellow big"><i class="m-icon-big-swapleft m-icon-white">
                    </i>Mês Anterior</a>
                </p>
            </li>
            <li style="left: 44%; margin-top: 22px; position: absolute;">
                @Html.DropDownList("lstPeriodo", ViewBag.ListPeriodo as SelectList, "----Selecione----")
                @Html.Hidden("txtDate")
            </li>
            <li style="float: right; margin-right: -15px; margin-top: 22px;">
                <p>
                    <a class="btn yellow big" style="font-size: 20px;" href="#" id="btnNext">Próximo Mês<i
                        class="m-icon-big-swapright  m-icon-white"></i></a>
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
        <div id="grids" class="portlet">
            @Html.Partial("_Grids", Model)
        </div>
        <!-- END INLINE NOTIFICATIONS PORTLET-->
    </div>
</div>
@section Scripts {
    <script type="text/javascript">



        $('#lstPeriodo').change(function (e) {
            e.preventDefault(); GridRefresh(GetDate());
        }); $('#btnPrevious').click(function (e) {
            e.preventDefault();
            var dt = GetDate();
            dt.setMonth(dt.getMonth() - 1);
            GridRefresh(dt);
        });

        $('#btnNext').click(function (e) {
            e.preventDefault();
            var dt = GetDate();
            dt.setMonth(dt.getMonth() + 1);
            GridRefresh(dt);
        });

        function GetDate() {
            var dt = $('#txtDate').val();
            if (dt == null || dt == '') {
                dt = new Date('@Model.Data.Year', '@Model.Data.Month', '@Model.Data.Day');
                dt.setMonth(dt.getMonth() - 1);
            }
            else {
                dt = new Date(dt);
            }
            return dt;
        }

        function GridRefresh(date, periodo) {
            var url = '@Url.Action("Filter")';
            $.ajax({ type: "GET", url: url, cache: false, dataType: "html", data: { department:
    $("#lstPeriodo option:selected").val(), data: $.datepicker.formatDate('dd/M/yy',
    date)
            }, success: function (data) { $('#grids').html(data); }
            }); $('#txtDate').val(date);
            //  $('#dtControle').text($.datepicker.formatDate('MM/yy', date));
        } </script>
    @Scripts.Render("~/bundles/jqueryval")
}

