﻿@model List<Dominio.Extrato>
@{
    
    ViewBag.Title = "Relatorio";
}
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box red">
        <div class="portlet-title">
								<h4><i class="icon-reorder"></i>Interactive Chart</h4>
								<div class="tools">
									<a href="javascript:;" class="collapse"></a>
									<a href="#portlet-config" data-toggle="modal" class="config"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>
            <div class="portlet-body" id="container">
                
            </div>
        </div>
    </div>
</div>

@{
    var months = Model.Select(y => y.Data.ToString("MMMM-yyyy"));
    System.Web.Script.Serialization.JavaScriptSerializer js = new System.Web.Script.Serialization.JavaScriptSerializer();
    string month = js.Serialize(months.ToArray());

    var receitas = Model.Select(y => y.Receitas.Sum(r => r.Valor));
    string receita = js.Serialize(receitas.ToArray());

    var despesas = Model.Select(y => y.Despesas.Sum(r => r.Pago.HasValue ? r.Pago.Value : r.Valor));
    string despesa = js.Serialize(despesas.ToArray());
    
}


@section Scripts
{
    <script type="text/javascript">
        $(function () {

            var listMonth = JSON.parse('@Html.Raw(@month)');
            var listReceita = JSON.parse('@Html.Raw(@receita)');
            var listDespesa = JSON.parse('@Html.Raw(@despesa)');
            $('#container').highcharts({
                title: {
                    text: 'Combination chart'
                },
                xAxis: {
                    categories: listMonth
                },
                labels: {
                    items: [{
                        html: 'Resultado por mês',
                        style: {
                            left: '50px',
                            top: '18px',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                        }
                    }]
                },
                series: [{
                    type: 'column',
                    name: 'Receita',
                    data: listReceita
                }, {
                    type: 'column',
                    name: 'Despesa',
                    data: listDespesa                
                }]
            });
        });
    </script>
}
