﻿@model Dominio.Registro
@using (Html.BeginForm("SendInvite", "Usuario", FormMethod.Post))
{
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    </button>
    <h3 id="myModalLabel1">
        @Resources.OrcamentoResource.lblConvidar @Resources.OrcamentoResource.lblParticipante</h3>
</div>
<div class="modal-body">
    <div class="editor-label">
        <label>@Resources.OrcamentoResource.lblNome</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Convidado.Nome)
        @Html.ValidationMessageFor(model => model.Convidado.Nome)
    </div>
    <div class="editor-label">
        <label>Email</label>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Convidado.Email)
        @Html.ValidationMessageFor(model => model.Convidado.Email)
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        @Resources.OrcamentoResource.lblCancelar</button>
    <button type="submit" name="SendInvite" class="btn yellow">
        @Resources.OrcamentoResource.lblEnviar</button>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}