﻿@model Dominio.Usuario

@{
    ViewBag.Title = Resources.OrcamentoResource.lblCriar + " " + Resources.OrcamentoResource.lblUsuario;
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resources.OrcamentoResource.lblUsuario</legend>

        <div class="editor-label">
            <label>@Resources.OrcamentoResource.lblNome</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Resources.OrcamentoResource.lblVoltar, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
