﻿@model Dominio.Usuario
@{
    ViewBag.Title = @Resources.OrcamentoResource.lblEditar + " " + @Resources.OrcamentoResource.lblUsuario;
}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4>
                    <i class="icon-reorder"></i>@Resources.OrcamentoResource.lblEditar @Resources.OrcamentoResource.lblUsuario</h4>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Save")" class="horizontal-form" method="post">
                @Html.HiddenFor(model => model.IdUsuario)
                <div class="control-group">
                    <label class="control-label">@Resources.OrcamentoResource.lblNome</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Nome, new { @readonly = "readonly", @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn blue" value="@Resources.OrcamentoResource.lblSalvar" />
                    @Html.ActionLink(Resources.OrcamentoResource.lblCancelar, "List", "Usuario", null, new { @class = "btn" })
                </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
