﻿@model IEnumerable<Dominio.Usuario>
@{
    ViewBag.Title = @Resources.OrcamentoResource.lblListaParticipante;
    var user = (User as InterfaceMvc.Code.Sercutiry.CustomPrincipal);
}
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4>
                    <i class="icon-edit"></i>@Resources.OrcamentoResource.lblListaParticipante</h4>
            </div>
            <div class="portlet-body">
                <div class="clearfix">
                    @if (@user.IsAdmin)
                    {
                        <div class="btn-group">
                            <a href="#dialogModal" role="button" class="btn green" data-toggle="modal">@Resources.OrcamentoResource.lblConvidar
                                <i class="icon-envelope"></i></a>
                        </div>
                        <div id="dialogModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                            aria-hidden="false" style="display: none;">
                            @Html.Partial("Convite", new Dominio.Registro())
                        </div>
                    }
                </div>
                <div id="sample_editable_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    @{
                                
                        var grid = new WebGrid(source: Model,
                       ajaxUpdateContainerId: "gridUsuario");

                                    
                    }
                    @grid.GetHtml(mode: WebGridPagerModes.All, tableStyle: "table table-striped table-bordered table-advance table-hover",
                                                            fillEmptyRows: false,
                                                            columns: grid.Columns(
                                                            grid.Column("Nome", Resources.OrcamentoResource.lblNome),
                                grid.Column("Email", "Email"), grid.Column(" ", format: (item) =>
                                {

                                    var links = new HtmlString(string.Format("<a href='{0}' class='btn mini red'><i class='icon-edit'></i> {1}</a>", Url.Action("Edit", "Usuario", new { id = item.IdUsuario }), Resources.OrcamentoResource.lblEditar)
                                                                        + string.Format("<a href='{0}' class='btn mini red'><i class='icon-trash'></i> {1}</a>", Url.Action("Delete", "Usuario", new { id = item.IdUsuario }), Resources.OrcamentoResource.lblDeletar));
                                    return user.IsAdmin ? links : Html.Raw("");
                                }

                                                                                  )))
                </div>
                
            </div>
           
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
         <div class="form-actions">
                    @Html.ActionLink(Resources.OrcamentoResource.lblVoltar, "Index", "Orcamento", null, new { @class = "btn blue", style="float:right" })
                </div>
    </div>
</div>
