﻿@model InterfaceMvc.Models.LoginModel
@{
    ViewBag.Title = Model.Tipo == Dominio.eTipoRegistro.Convite ? "Registre-se" : "Esqueci Senha";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Criar orçamento familiar que pode ser compartilhado entre os membros da família." />
    <meta name="keywords" content="Orçamento Familiar, Orçamento, Orçamento Quinzenal, Quinzena, Orçamento Compartilhado, Compartilhar Orçamento" />
    <meta name="author" content="Double Silva" />    
    <meta name="revisit-after" content="15 days" />
    <meta name="robots" content="index,follow" />
    <meta name="distribution" content="global" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>@*    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/themes/base/css")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="../../Content/themes/metronic/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/themes/metronic/css/metro.css" rel="stylesheet" />
    <link href="../../Content/themes/metronic/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../Content/themes/metronic/css/style.css" rel="stylesheet" />
    <link href="../../Content/themes/metronic/css/style_responsive.css" rel="stylesheet" />
    <link href="../../Content/themes/metronic/css/style_default.css" rel="stylesheet"
        id="style_color" />
    <link rel="stylesheet" type="text/css" href="../../Content/themes/metronic/uniform/css/uniform.default.css" />
</head>
<body class="login">
   <div class="logo">
        
    </div>
    <!-- BEGIN LOGIN -->
    <div class="content">
        
            @if (Model.Tipo == Dominio.eTipoRegistro.Convite)
            {
                @:<h3>Bem-Vindo ao Orçamento Familiar!!</h3>
            }
            else
            {
                @:<h3>Criar nova Senha!!</h3>
            }
            
            
            @using (Html.BeginForm("Confirmar", "Home", FormMethod.Post, new { @class = "form-vertical register-form", @style = "display:block;" }))
            {  
                
        <h3 class="">
            Inscreva-se</h3>
        <p>
            Informe os dados abaixo:</p>
        <div class="control-group">
            <label>
                Nome Familiar</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-group"></i>
                    @Html.TextBoxFor(m => m.Familia, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Ex. Silva", @readonly = "readonly" })
                </div>
                @Html.ValidationMessageFor(m => m.Familia)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">
                Nome (Participante)</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-user"></i>
                    @Html.TextBoxFor(m => m.Nome, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Nome(Participante)", @readonly = "readonly" })
                </div>
                @Html.ValidationMessageFor(m => m.Nome)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">
                Senha</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-lock"></i>
                    @Html.PasswordFor(m => m.Senha, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Senha" })
                </div>
                @Html.ValidationMessageFor(m => m.Senha)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label visible-ie8 visible-ie9">
                Repita sua Senha</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-ok"></i>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Repita sua Senha" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">
                Email</label>
            <div class="controls">
                <div class="input-icon left">
                    <i class="icon-envelope"></i>
                    @Html.TextBoxFor(m => m.Email, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Email", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" name="Confirmar" id="register-submit-btn" class="btn green pull-right">
                Entre <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
            }
    </div>
    <!-- END LOGIN -->

    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        2014 &copy; Desenvolvido por DoubleSilva.
    </div>
    <!-- END COPYRIGHT -->
</body>
<!-- END BODY -->
</html>
