﻿@model InterfaceMvc.Models.RegisterExternalLoginModel

@using Resources;
@{
    ViewBag.Title = "ExternalLoginConfirmation"; 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>    
    <title>@ViewBag.Title</title>
    <meta name="description" content="Criar orçamento familiar que pode ser compartilhado entre os membros da família." />
    <meta name="keywords" content="Orçamento Familiar, Orçamento, Orçamento Quinzenal, Quinzena, Orçamento Compartilhado, Compartilhar Orçamento" />
    <meta name="author" content="Double Silva" />    
    <meta name="revisit-after" content="15 days" />
    <meta name="robots" content="index,follow" />
    <meta name="distribution" content="global" />
    <meta name="viewport" content="width=device-width" />
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
     @Styles.Render("~/Content/themes/metronic/bootstrap/css/All.css")
    @Styles.Render("~/Content/themes/metronic/css/All.css")
    @Styles.Render("~/Content/themes/metronic/font-awesome/css/All.css")
</head>
<body class="login">
    <!-- BEGIN LOGO -->
    <div  class="logo" style="width: 26%!important; color: white; font-family: inherit;
        text-align: justify;float: left;background-color: #35aa47;">
        <h4 style="font-size: 100%;font-weight: 600;">
        @OrcamentoResource.InfoPart1
           </h4>
        <h4 itemprop="description" style="font-size: 100%;font-weight: 600;">
            @OrcamentoResource.InfoPart2</h4>
    </div>
    <div class="logo">
        <img src="~/Images/logo-big.png" alt="">
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
       <h4>
            @OrcamentoResource.BemVindo</h4>
        @using (Html.BeginForm("RegisterExternal", "Home", FormMethod.Post, new { @class = "form-vertical register-form" }))
        {
            <h3 class="">
                @OrcamentoResource.TitInscrevaSe</h3>
            <p>
                @OrcamentoResource.InfoIncrevaSe</p> 
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">
                    @OrcamentoResource.lblNomeAdmin</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-user"></i>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Nome(Admistrador)", @readonly = "readonly" })
                    </div>
                    @Html.ValidationMessageFor(m => m.FullName)
                </div>
            </div>       
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">
                    @OrcamentoResource.lblEmail</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-user"></i>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Email", @readonly = "readonly" })
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>       
            <div class="control-group">
                <label>
                    @OrcamentoResource.lblNomeFamiliar</label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-group"></i>
                        @Html.TextBoxFor(m => m.Familia, new { @class = "m-wrap placeholder-no-fix", @placeholder = "Ex. Silva" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Familia)
                </div>
            </div>                 
            <div class="form-actions">               
                <button type="submit" id="register-submit-btn" class="btn green pull-right">
                   @OrcamentoResource.TitInscrevaSe <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
            if (Model != null && !string.IsNullOrEmpty(Model.Familia))
            {
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".form-vertical.login-form").hide();
                    $(".form-vertical.register-form").show();
                });
            </script>
            }
        }
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">     
        @Html.Raw(@OrcamentoResource.InfoCoyRight)
    </div>
    <!-- END COPYRIGHT -->
</body>
<!-- END BODY -->
</html>
<script type="text/javascript">
    $(document).ready(function () {

      
            $(".form-vertical.register-form").show();

      

    });


    </script>