﻿@model InterfaceMvc.Models.GenericModel
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(function () {
        var day = '@Model.Date.Day';
        var month = '@Model.Date.Month';
        var year = '@Model.Date.Year';
        var currentDate = new Date(year, month - 1, day);
        $('.onlyMonthYear').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM-yy',
            defaultDate: currentDate,
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                currentDate = new Date(year, month, 1);
                $(this).datepicker('setDate', currentDate);
                $(this).datepicker({ defaultDate: currentDate });
            }
        });
        $('.onlyMonthYear').datepicker('setDate', currentDate);

        $('.add-on').click(function () {
            var visible = $('#ui-datepicker-div').is(':visible');
            $('.onlyMonthYear').datepicker(visible ? 'hide' : 'show');
        });

        jQuery.validator.methods["date"] = function (value, element) {
            var date = $('.onlyMonthYear').datepicker('getDate');
            var result = this.optional(element) || !/Invalid|NaN/.test(date.toString());            
            return result;
        }

    });

    
</script>
<style type="text/css">
    .ui-datepicker-calendar
    {
        display: none;
    }
</style>
