﻿@model Dominio.Extrato
@{
    decimal amount = 0;
   
        amount = Model.Receitas.Sum(r => r.Valor) - Model.Despesas.Sum(d => d.Pago.HasValue ? d.Pago.Value : d.Valor);

    
    var user = (User as InterfaceMvc.Code.Sercutiry.CustomPrincipal);                    
}
<div class="row-fluid" style="width: 30%; margin-left: 31%;">
    <div class="responsive span3" data-tablet="span6  fix-offset" data-desktop="span3"
        style="margin-left: 40%;">
        @{
            if (amount > 0)
            {    
            @:<div class="dashboard-stat blue">
            }
            else if (amount < 0)
            {
            @:<div class="dashboard-stat red">
            }
            else
            {
            @:<div class="dashboard-stat green">
            }
        }
        <div class="visual" style="color: white;height: 90px;"> <i class="icon-calendar"></i>
        <div id="dtControle" style="text-transform: capitalize; font-size: 150%">@Model.Data.ToString("MMMM/yyyy")</div>
        </div> <div class="details"> <div class="number" style="font-size: 200%;"> @amount.ToString("C2")</div>
        <div class="desc"> @Resources.OrcamentoResource.lblSaldoAtual</div> </div> </div>
        </div> </div>
        <div class="portlet-body">
            <div class="row-fluid">
                <div class="span3">
                    <div class="pricing-table2">
                        <h3>
                            @Resources.OrcamentoResource.lblReceita</h3>
                        <div class="rate">
                            <div class="price">
                                <div class="amount ">
                                    @{
                                        var receitaTotal = 0M;
                                        var grid = new WebGrid(source: Model.Receitas,
                                       ajaxUpdateContainerId: "gridReceita");
                                        receitaTotal = Model.Receitas.Sum(r => r.Valor);
                            
                                    }
                                    @receitaTotal.ToString("c")
                                </div>
                            </div>
                            <a href="@Url.Action("Create", "Receita")" class="btn">@Resources.OrcamentoResource.lblAdicionar
                                <i class="m-icon-swapright"></i></a>
                        </div>
                        @grid.GetHtml(mode: WebGridPagerModes.All, tableStyle: "table table-striped table-bordered table-advance table-hover",
                                                            fillEmptyRows: false,
                                                            columns: grid.Columns(
                                                            grid.Column("Descricao", @Resources.OrcamentoResource.lblDescricao),
                                                            grid.Column("Usuario.Nome", @Resources.OrcamentoResource.lblUsuario),
                                                            grid.Column("Periodo", @Resources.OrcamentoResource.lblPeriodo, style: "description"),
                                                            grid.Column("Valor", @Resources.OrcamentoResource.lblValor, format: (item) => string.Format("{0:C}", item.Valor)),
                                                                     grid.Column(" ", format: item =>
                                                                         {
                                                                             if (@user.IsAdmin || item.IdUsuario == @user.Id)
                                                                             {
                                                                                 return new HtmlString(string.Format("<a href='{0}' class='btn mini red'><i class='icon-edit'></i> {1}</a>", Url.Action("Edit", "Receita", new { id = item.IdReceita }), @Resources.OrcamentoResource.lblEditar)
                                                                               + string.Format("<a href='{0}' class='btn mini red'><i class='icon-trash'></i> {1}</a>", Url.Action("Delete", "Receita", new { id = item.IdReceita }), @Resources.OrcamentoResource.lblDeletar));
                                                                             }
                                                                             else return string.Empty;
                                                                         }
                                                                         )),
                          htmlAttributes: new { @id = "gridReceita" })
                    </div>
                </div>
                <div class="spance10 visible-phone">
                </div>
                <div class="span3">
                    <div class="pricing-table2">
                        <h3>
                            @Resources.OrcamentoResource.lblDespesa</h3>
                        <div class="rate">
                            <div class="price">
                                <div class="amount ">
                                    @{
                                        var despesaTotal = 0M;
                                        var grid2 = new WebGrid(source: Model.Despesas,
                                       ajaxUpdateContainerId: "gridDespesa");
                                        despesaTotal = Model.Despesas.Sum(r => r.Pago.HasValue ? r.Pago.Value : r.Valor);                            
                                    }
                                    @despesaTotal.ToString("c")
                                </div>
                            </div>
                            <a href="@Url.Action("Create", "Despesa")" class="btn">@Resources.OrcamentoResource.lblAdicionar
                                <i class="m-icon-swapright"></i></a>
                        </div>
                        @grid2.GetHtml(mode: WebGridPagerModes.All, tableStyle: "table table-striped table-bordered table-advance table-hover",
                                                            fillEmptyRows: false,
                                                            columns: grid.Columns(
                                                                     grid2.Column("Descricao", @Resources.OrcamentoResource.lblDescricao),
                                                                     grid2.Column("Usuario.Nome", @Resources.OrcamentoResource.lblUsuario),
                                                                     grid2.Column("Periodo", @Resources.OrcamentoResource.lblPeriodo, style: "description"),
                                                                     grid2.Column("Valor", @Resources.OrcamentoResource.lblValPrevisto, format: (item) =>
                                                                     {
                                                                         return string.Format("{0:C} {1}", item.Valor, item.NroParcela > 0 && item.Tipo != Dominio.eTipo.Mensal ? string.Format(@Resources.OrcamentoResource.lblFormatParcels, item.NroParcela, item.NroParcelaHaPagar) : string.Empty);
                                                                     }),
                                                                     grid2.Column(@Resources.OrcamentoResource.lblValPago, format: (item) =>
                                                                     {
                                                                         if (item.Pago != null)
                                                                             return string.Format("{0:C}", item.Pago);
                                                                         else
                                                                         {
                                                                             if (@user.IsAdmin || item.IdUsuario == @user.Id)
                                                                             {
                                                                                 return new HtmlString(string.Format("<a href='#dialogModal' data-toggle='modal' onclick='javascript:ModelPagar({0});' class='btn mini yellow'>" + @Resources.OrcamentoResource.lblPagar + "</a>", item.IdDespesa));
                                                                             }
                                                                             else return string.Empty;
                                                                         }

                                                                     }),
                                                                     grid2.Column(" ", format: item =>
                                                                         {
                                                                             if (@user.IsAdmin || item.IdUsuario == @user.Id)
                                                                             {
                                                                                 return new HtmlString(
                                                                       string.Format("<a href='{0}' class='btn mini red'><i class='icon-edit'></i> {1}</a>", Url.Action("Edit", "Despesa", new { id = item.IdDespesa }), @Resources.OrcamentoResource.lblEditar)
                                                                       + string.Format("<a href='{0}' class='btn mini red'><i class='icon-trash'></i> {1}</a>", Url.Action("Delete", "Despesa", new { id = item.IdDespesa }), @Resources.OrcamentoResource.lblDeletar));
                                                                             }
                                                                             else
                                                                             {
                                                                                 return string.Empty;
                                                                             }
                                                                         })
                                                                    ), htmlAttributes: new { @id = "gridDespesa" })
                    </div>
                </div>
            </div>
        </div>
        <div id="dialogModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
            aria-hidden="false" style="display: none;">
        </div>
        <script type="text/javascript">

            function ModelPagar(id) {
                var url = '@Url.Action("Pagar")';
                $.ajax({
                    type: "GET",
                    url: url,
                    cache: false,
                    dataType: "html",
                    data: { iddespesa: id },
                    success: function (data) {
                        $('#dialogModal').html(data);
                    },
                    error: function (data) {
                        alert(data.responseText); // use any display logic here
                    }
                });
            }

        </script>
