﻿@{
    ViewBag.Title = "_Loading";
}
<style type="text/css">
    #loading
    {
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
    }
  
    #loadingcont
    {
        display:table;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
  
    #loadingspinr
    {
        display: table-cell;
        vertical-align:middle;
        width: 100%;
        text-align: center;
        font-size:larger;
        padding-top:80px;
    }
</style>

<div id="loading">
    <div id="loadingcont">
        <p id="loadingspinr">
            @Resources.OrcamentoResource.lblLoading
        </p>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $(".btn:not('.yellow')").click(function () {
            $("#loading").fadeIn();
        });
    });
</script>