﻿<div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- BEGIN LOGO -->
                <a class="brand" href="@Url.Action("Index", "Orcamento")">
                    <img src="~/Images/logo.png" alt="logo" />
                </a>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                    <img src="~/Images/menu-toggler.png" alt="" />
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav pull-right">                    
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown user"><a href="#" class="dropdown-toggle" data-toggle="dropdown">                        
                    @{
                        
                       var user = (User as InterfaceMvc.Code.Sercutiry.CustomPrincipal);
                       
                       
                        }
                        <span class="username">@user.FirstName</span>
                         <i class="icon-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Info", "Usuario")"><i class="icon-user"></i>@Resources.OrcamentoResource.TitMeusDados</a></li>
                            <li><a href="@Url.Action("List", "Usuario")"><i class="icon-group"></i>@Resources.OrcamentoResource.TitMinhaFamilia</a></li>

                            @if(user.Id == 6)
                            {
                                @:<li><a href="@Url.Action("Relatorio", "Orcamento")"><i class="icon-tasks"></i>@Resources.OrcamentoResource.lblRelatorio</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Logout", "Home")"><i class="icon-key"></i>@Resources.OrcamentoResource.lblSair</a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END TOP NAVIGATION BAR -->
</div>
<script type="text/javascript">

    $("li.dropdown.user a.dropdown-toggle").click(function () {
        $(this).next(".dropdown-menu").toggle();
    });

</script>