﻿@model InterfaceMvc.Models.MessageModel
<div id="dialogModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
    aria-hidden="false" style="display: none;">
    <div class="modal-header">
    @if (Model.Tipo == InterfaceMvc.Models.TypeMessage.ErroMessage)
    {
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        </button>
    }
        <h3 id="myModalLabel1">
            @Model.Title</h3>
    </div>
    <div class="modal-body">
        @Model.Message
    </div>
    <div class="modal-footer">
        @if (Model.Tipo == InterfaceMvc.Models.TypeMessage.ConfirmRedirect)
        {
            <a href="@Model.UrlRedirect" class="btn yellow">@Resources.OrcamentoResource.lblContinuar</a>
        }
        else if (Model.Tipo == InterfaceMvc.Models.TypeMessage.ErroMessage)
        {
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                @Resources.OrcamentoResource.lblCancelar</button>    
        }
    </div>
</div>
