﻿@model Dominio.Despesa
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    </button>
    <h3 id="myModalLabel1">
        @Resources.OrcamentoResource.TitPagarDespesa</h3>
</div>
<div class="modal-body">
    @Html.HiddenFor(model => model.IdDespesa)
    <div class="editor-label">
        @Html.LabelFor(model => model.Descricao)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Descricao, new {@readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Descricao)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Valor)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Valor, new { @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Valor)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Pago)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Pago, new { @id = "txtValPago"})
        @Html.ValidationMessageFor(model => model.Pago)
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        @Resources.OrcamentoResource.lblCancelar</button>
    <button onclick="javascript:PagarDespesa()" class="btn yellow">
        @Resources.OrcamentoResource.lblSalvar</button>
</div>

<script type="text/javascript">

    $(function () {
        $('#txtValPago').focus();
    });

    function PagarDespesa() {
        var id = $("#IdDespesa").val();
        var valor = $("#txtValPago").val();
        var url = '@Url.Action("PagarDespesa")';
        $.ajax({
            type: "POST",
            url: url,
            cache: false,
            dataType: "html",
            data: { iddespesa: id, valPago : valor },
            success: function (data) {
                $("button.close").trigger("click");
                $("#lstPeriodo").trigger("change");

            }
        });
    }
        </script>