﻿<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Criar orçamento familiar que pode ser compartilhado entre os membros da família." />
    <meta name="keywords" content="Orçamento Familiar, Orçamento, Orçamento Quinzenal, Quinzena, Orçamento Compartilhado, Compartilhar Orçamento" />
    <meta name="author" content="Double Silva" />
    <meta name="revisit-after" content="15 days" />
    <meta name="robots" content="index,follow" />
    <meta name="distribution" content="global" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/metronic")
    @Scripts.Render("~/bundles/chart")
    @Styles.Render("~/Content/themes/metronic/bootstrap/css/All.css")
    @Styles.Render("~/Content/themes/metronic/css/All.css")
    @Styles.Render("~/Content/themes/metronic/font-awesome/css/All.css")
    @RenderSection("PageScripts", false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
    <!-- BEGIN HEADER -->
    @Html.Partial("_Menu")
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <div class="page-container row-fluid">
                    <!-- BEGIN PAGE -->
                    <div class="page-content">
                        <div class="container-fluid">
                            <!-- BEGIN PAGE HEADER-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                    <h3 class="page-title">
                                        @{
                                            var nFamilia = (User as InterfaceMvc.Code.Sercutiry.CustomPrincipal).Familia;
                                        }
                                        @Resources.OrcamentoResource.lblOrcamento @nFamilia
                                    </h3>
                                    <!-- END PAGE TITLE & BREADCRUMB-->
                                </div>
                            </div>
                            @RenderBody()
                            <!-- END PAGE CONTENT-->
                        </div>
                        <!-- END PAGE CONTAINER-->
                    </div>
                    <!-- BEGIN PAGE -->
                </div>
                <!-- END CONTAINER -->
            </div>
            @Html.Partial("_Loading");
            <!-- END PAGE CONTAINER-->
            @RenderSection("scripts", required: false)
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        @Html.Raw(Resources.OrcamentoResource.InfoCoyRight)        
        <div class="span pull-right">
            <span class="go-top"><i class="icon-angle-up"></i></span>
        </div>
    </div>
   
    <!-- END FOOTER -->
</body>
<!-- END BODY -->
</html>
 <script type="text/javascript">

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-33048976-1', 'doublesilva.com');
        ga('send', 'pageview');


    </script>