﻿@model Dominio.Receita
@{
    ViewBag.Title = "Editar Receita";
}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4>
                    <i class="icon-reorder"></i>Editar Receita</h4>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Save")" class="horizontal-form" method="post">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.IdReceita)
                <div class="control-group">
                    @Html.LabelFor(model => model.Usuario, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Usuario.Nome, new { @readonly = "readonly", @class = "span6 m-wrap" })
                        @Html.HiddenFor(model => model.IdUsuario);
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Periodo, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(m => m.Periodo, ViewBag.ListPeriodo as SelectList, "--- Selecione ---", new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Periodo)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Tipo, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.Tipo, ViewBag.ListTipo as SelectList, "----Selecione----", new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Tipo)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Data, new { @class = "control-label" })
                    <div class="controls">
                        <div class="input-append date date-picker" style="width: 96%">
                            @Html.TextBoxFor(model => model.Data, new { @class = "span6 m-wrap onlyMonthYear" })
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            @Html.ValidationMessageFor(model => model.Data)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Descricao, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Valor, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Valor, new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Valor)
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn blue" value="@Resources.OrcamentoResource.lblSalvar" />
                    @Html.ActionLink(Resources.OrcamentoResource.lblVoltar, "Index", "Orcamento", null, new { @class = "btn" })
                </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.Partial("_Date", new InterfaceMvc.Models.GenericModel() { Date = Model.Data });
}
