﻿@{
    Layout = null;
    ViewBag.Title = "Registre-se";
}
@model InterfaceMvc.Models.ExceptionError
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/themes/metronic/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/themes/metronic/css/metro.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/metronic/bootstrap/css/bootstrap-responsive.min.css"
        rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/metronic/font-awesome/css/font-awesome.css" rel="stylesheet"
        type="text/css" />
    <link href="../../Content/themes/metronic/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/themes/metronic/css/style_responsive.css" rel="stylesheet" />
    <link href="../../Content/themes/metronic/css/style_default.css" rel="stylesheet"
        type="text/css" id="style_color" />
    <link rel="stylesheet" type="text/css" type="text/css" href="../../Content/themes/metronic/uniform/css/uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/themes/metronic/bootstrap-toggle-buttons/stylesheets/bootstrap-toggle-buttons.css" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
    <!-- BEGIN HEADER -->
    <div class="page-container row-fluid">
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <div class="page-container row-fluid">
                    <!-- BEGIN PAGE -->
                    <div class="page-content">
                        <div class="container-fluid">
                            <!-- BEGIN PAGE HEADER-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                                    <h3 class="page-title">
                                        @Model.StatusCode Page <small>@Model.Message</small>
                                    </h3>
                                    <!-- END PAGE TITLE & BREADCRUMB-->
                                </div>
                            </div>
                            <!-- END PAGE HEADER-->
                            <!-- BEGIN PAGE CONTENT-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="row-fluid page-500">
                                        <div class="span5 number">
                                            @Model.StatusCode
                                        </div>
                                        <div class="span7 details">
                                            <h3>
                                                Aconteceu o seguinte erro.</h3>
                                            <p>@Model.Error.Substring(0, @Model.Error.Length > 30 ? 30 : @Model.Error.Length)...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT-->
                        </div>
                        <!-- END PAGE CONTAINER-->
                    </div>
                    <!-- BEGIN PAGE -->
                </div>
                <!-- END CONTAINER -->
            </div>
            <!-- END PAGE CONTAINER-->          
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer">
        2014 &copy; Desenvolvido por DoubleSilva.
        <div class="span pull-right">
            <span class="go-top"><i class="icon-angle-up"></i></span>
        </div>
    </div>
    <!-- END FOOTER -->
</body>
<!-- END BODY -->
</html>
