﻿@model Dominio.Despesa
@{
    ViewBag.Title = "Nova Despesa";
    var user = (User as InterfaceMvc.Code.Sercutiry.CustomPrincipal);
}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4>
                    <i class="icon-reorder"></i>Nova Despesa</h4>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Create")" class="horizontal-form" method="post">
                @Html.ValidationSummary(true)
                @if (user.IsAdmin)
                {
                    <div class="control-group">
                        @Html.LabelFor(model => model.Usuario, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(model => model.Usuario, ViewBag.ListUsuario as SelectList, "----Selecione----", new { @class = "span6 m-wrap" })
                            @Html.ValidationMessageFor(model => model.Usuario)
                        </div>
                    </div>
                }
                <div class="control-group">
                    @Html.LabelFor(model => model.Periodo, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.Periodo, ViewBag.ListPeriodo as SelectList, "----Selecione----", new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Periodo)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Tipo, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.Tipo, ViewBag.ListTipo as SelectList, "----Selecione----", new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Tipo)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Categoria, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(model => model.Categoria, ViewBag.ListCategoria as SelectList, "----Selecione----", new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Categoria)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Data, new { @class = "control-label" })
                    <div class="controls">
                        <div class="input-append date date-picker" style="width: 96%">
                            @Html.TextBoxFor(model => model.Data, new { @class = "span6 m-wrap onlyMonthYear" })
                            <span class="add-on"><i class="icon-calendar"></i></span>
                            @Html.ValidationMessageFor(model => model.Data)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Descricao, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Descricao)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Valor, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Valor, new { @class = "span6 m-wrap" })
                        @Html.ValidationMessageFor(model => model.Valor)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Repetir</label>
                    <div class="controls">
                        <div id="text-toggle-button">
                            <input id="chkRepetir" name="Repetir" type="checkbox" />
                        </div>
                        <a href="#" id="btnDown" style="display: none; margin-left: 50px; margin-right: 3px;"
                            class="btn icn-only m-wrap"><i class="icon-minus"></i></a>
                        @Html.TextBox("NroParcelas", null, new { @id = "txtNroVezes", @class = "m-wrap", @style = "display:none;width: 40px;", @disabled = "disabled", @readonly = "readonly" })
                        @Html.Hidden("NroVezes", null, new { @id = "txtNroParcells" })
                        <a href="#" id="btnUp" style="display: none" class="btn icn-only m-wrap"><i class="icon-plus">
                        </i></a>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn blue" value="Adicionar" />
                    @Html.ActionLink("Cancelar", "Index", "Orcamento", null, new { @class = "btn" })
                </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
@section Scripts
{    
    <script type="text/javascript">

        $('#text-toggle-button').toggleButtons({
            style: {
                // Accepted values ["primary", "danger", "info", "success", "warning"] or nothing
                enabled: "success",
                disabled: "danger"
            },
            label: {
                enabled: "Sim",
                disabled: "Não"
            }
        });
    </script>
    @Html.Partial("_Date", new InterfaceMvc.Models.GenericModel() { Date = DateTime.Now }, null)
    @Html.Partial("_Spinner")
    @Scripts.Render("~/bundles/jqueryval")
}
