﻿@model Dominio.Despesa
@{
    ViewBag.Title = "Excluir Despesa";
}
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4>
                    <i class="icon-reorder"></i>Excluir Despesa</h4>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="@Url.Action("Delete")" class="horizontal-form" method="post">
                <div class="control-group">
                    @Html.LabelFor(model => model.Usuario, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Usuario.Nome, new { @readonly = "readonly", @class = "control-label" })                        
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Descricao, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Descricao, new { @readonly = "readonly", @class = "control-label" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Data, new { @class = "control-label" })
                    <div class="controls">
                         @Html.TextBox("Data", @Model.Data.ToString("MMMM-yyyy"), new { @readonly = "readonly", @style = "text-transform: capitalize;", @class = "span6 m-wrap" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(model => model.Valor, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Valor, new { @readonly = "readonly", @class = "control-label" })
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn blue" value="Excluir" />
                    @Html.ActionLink("Cancelar", "Index", "Orcamento", null, new { @class = "btn" })
                </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>
